.custom-container {
  padding: 10px 30px 10px 30px;
}

.custom-dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-close-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}